.all{
    display: flex;
}
.card{
    height: 250px;
    width: 300px;
    border: 1px solid black;
    position: relative;
    text-align: center;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
}

h1{
    color: red;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    text-align: justify;
    padding: 0px 2px 0px 2px;
    
}

button{
    height: 35px;
    width: 65px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    
}

.border{
    display: flex;
    margin: 20px;
}

.box1{
    height: 70px;
    width: 200px;
    /* background-color: black; */
    border: 2px dotted rgb(5, 15, 16);
    margin-right: 40px;
}

.box2{
     height: 70px;
    width: 200px;
    /* background-color: black; */
    border: 2px blue double;
    border-style: groove;
    margin-right: 40px;
}


.box3{
    height: 70px;
    width: 200px;
    border: 2px dashed green;
    margin-right: 40px;
}

.contentbox{
    height: 100px;
    width: 150px;
    background-color: antiquewhite;
    box-sizing: content-box;
    border: 2px solid black;
    display: inline-block;
}
.borderbox{
    height: 100px;
    width: 150px;
    background-color: greenyellow;
    box-sizing: border-box;
    border: 2px dotted black;
    display: inline-block;
}

.parent{
    height: 200px;
    width: 1100px;
    border: 1px solid black;
   
}
.div{
    height: 180px;
    width: 220px;
    border: 1px solid red;
     display: inline-block;
     margin: 10px;
     text-align: center;
     
}

