p{
    font-style: italic;
    text-decoration: underline;
    font-weight: bolder;
    text-align: justify;
    text-transform: capitalize;
    line-height: 2;
    letter-spacing: 5;
    word-spacing: 2;
}
 h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto', sans-serif;
    }